*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* --------------header style start------------------------ */

header{
    position: absolute;
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: black;
}

header .logo{
    height: 30px;
    width: auto;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-self: center;
    list-style: none;
}


.menu_icon{
    display: none;
}

.menu li a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    margin: 0 10px;
}
/* --------------header style end------------------------ */


.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
}

.home .main_heading{
    font-size: 70px;
    color: #000000;
    margin-top: 80px;
    font-weight: 400;
}

.home .sub_heading h2{
    color: #000000;
    font-size: 40px;
    font-weight: 400;
    margin: 40px 0;
}

.home .sub_heading p{
    color: #000000;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 40px;
}

.all_sub_headings{
    color: #000000;
    font-size: 40px;
    font-weight: 400;
    margin: 40px 0;
    width: 100%;
}


.services{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.services_contant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services_contant img{
    height: 250px;
    width: auto;
}

.services_contant h3{
    margin-top: 20px;
    font-size: 30px;
    color: #000000;
    font-weight: 600;
}



.Events{
    background-color: #333;
    padding: 60px;
    margin: 80px 0;
}

.Events_heading{
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin: 20px auto;
}

.Events_pera{
    color: gray;
    font-size: 20px;
    font-weight: 300;
    width: 48%;
    text-align: center;
    margin: auto;
}

.Events_contant{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-top: 40px;
}

.Events_sub_contant{
    padding: 20px;
    margin: 0 10px;
}

.Events_sub_contant h3{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 10px -28px
}

.Events_sub_contant p{
    color: gray;
    font-size: 14px;
    font-weight: 300;
}



























































@media only screen and (max-width: 600px) {

    header{
        padding: 10px 20px;
    }

    header .logo{
        height: 20px;
    }

    /* .menu{
        display: none !important;
    } */

    .menu{
        flex-direction: column;
        position: absolute;
        display: none;
        top: 40px;
        width: 100%;
        height: 100vh;
        background-color: #1E1E1E;
        border-bottom: 1px solid gray;
        transition: all .4s ease;
    }

    .menu li{
        padding: 20px;
    }
    .menu li:hover{
        color: bisque;
        background-color: #ffffff3d;
    }

    .menu_icon{
        display: block;
        color: #fff;
    }

    .home {
        padding: 20px;
    }

    .home .main_heading {
        font-size: 35px;
    }

    .home .sub_heading h2 {
        font-size: 22px;
        margin: 20px 0;

    }

    .home .sub_heading p {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .services {
        flex-direction: column;
    }

    .services_contant img {
        height: 220px;
        margin-top: 20px;
    }

    .Events{
        padding: 20px;
    }

    .Events_pera {
        width: 100%;
    }

    .Events_contant {
        flex-direction: column;
    }

}
